/* Css Bois */
.font {
    font-size:23px;
    font: "Gaegu";
  
}
.color{
    font-size: 40px
}

body {
    background-color:rgb(34, 0, 61);
    color:white;
}

.col-sm-4{
    width:20% !important;
    margin:0 !important;
    padding:0 !important;
}
.card-text{
    color: black;
}
.card-title{

    color:black;

}