/* Css Bois */
.font {
    font-size:23px;
    font: "Gaegu";
  margin-left: 50px;
  margin-right: 50px;
}
.color{
    font-size: 40px
}

body {
    background-color:rgb(34, 0, 61);
    color:white;
    font-family: Merienda;
}

.col-sm-4{
    width:20% !important;
    margin:0 !important;
    padding:0 !important;
}
.card-text{
    color: black;
}
.card-title{

    color:black;

}

.us {
    font-size: 60px;
}

.center{
    text-align: center;
}

footer{
background-color: rgb(52, 58, 64);

}
a .wows{
color: rgb(55,55,55);
text-decoration: none;
}